<a href="https://colab.research.google.com/github/Mauro2105/BackendExplorer/blob/main/PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Uso de Datagrames de python en la API de Spark para tareas de ingeniería de datos

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

1. Importación del módulo sql de PySpark

In [2]:
from pyspark.sql import *

2. Creación de datos

In [3]:
from os import name
department1 = Row(id='123456', name='Computer Science')
department2 = Row(id='789012', name='Mechanical Engineering')
department3 = Row(id='345678', name='Theater and Drama')
department4 = Row(id='901234', name='Indoor Recreation')

3. Creación de empleados

In [4]:
Employee = Row("firstName", "lastName", "email", "salary")
employee1 = Employee('michael', 'armbrust', 'no-reply@berkeley.edu', 100000)
employee2 = Employee('xiangrui', 'meng', 'no-reply@stanford.edu', 120000)
employee3 = Employee('matei', None, 'no-reply@waterloo.edu', 140000)
employee4 = Employee(None, 'wendell', 'no-reply@berkeley.edu', 160000)
employee5 = Employee('michael', 'jackson', 'no-reply@neverla.nd', 80000)

3. Creación de la relación entre departamentos y empleados

In [5]:
departmentWithEmployees1 = Row(department=department1, employees=[employee1, employee2])
departmentWithEmployees2 = Row(department=department2, employees=[employee3, employee4])
departmentWithEmployees3 = Row(department=department3, employees=[employee5, employee4])
departmentWithEmployees4 = Row(department=department4, employees=[employee2, employee3])

4. Imprimir información

In [6]:
print(department1)
print(employee2)
print(departmentWithEmployees1.employees[0].email)

Row(id='123456', name='Computer Science')
Row(firstName='xiangrui', lastName='meng', email='no-reply@stanford.edu', salary=120000)
no-reply@berkeley.edu

### Crear DataFrames desde listas de filas (Rows)

In [9]:
from pyspark.sql import SparkSession, Row

# Crea la sesión de Spark
spark = SparkSession.builder \
    .appName("Ejemplo DataFrames") \
    .getOrCreate()

# Crear DataFrames desde una lista de Rows (filas)

# Lista con departamentos y empleados previamente creados
departmentsWithEmployeesSeq1 = [departmentWithEmployees1, departmentWithEmployees2]

# Crear un DataFrame usando Spark a partir de la lista anterior
df1 = spark.createDataFrame(departmentsWithEmployeesSeq1)

# Mostrar el DataFrame df1
display(df1)

# Segunda lista con otros departamentos y empleados previamente creados
departmentsWithEmployeesSeq2 = [departmentWithEmployees3, departmentWithEmployees4]

# Crear otro DataFrame con Spark desde esta segunda lista
df2 = spark.createDataFrame(departmentsWithEmployeesSeq2)

# Mostrar el DataFrame df2
display(df2)

DataFrame[department: struct<id:string,name:string>, employees: array<struct<firstName:string,lastName:string,email:string,salary:bigint>>]

DataFrame[department: struct<id:string,name:string>, employees: array<struct<firstName:string,lastName:string,email:string,salary:bigint>>]